<h1>Support</h1>

<p>App developed by Shawn Tuttle.</p>

<p>I hope you find this app helpful and easy to use!</p>

<p>Any suggestions or issues can be sent to <%= mail_to "hello@shawntuttle.com" %></p>

<h2>Notes</h2>
<ul class="standard-list">
  <li>This is a purely for-fun project.</li>
  <li>Your provider may charge you for text messages.</li>
  <li>You can't reply to reminder text messages.</li>
</ul>