<header>
  <h1>remember2due</h1>
  <h3>Home maintenance reminders via text.</h3>
  <%= link_to 'Sign in', sign_in_path, class: "btn" %>
  <%= image_tag 'a-loved-home.jpg', class: "responsive margin-top" %>
  <%= link_to 'Sign up', sign_up_path %>
</header>
