<h1>Upcoming...</h1>

<% if alert.present? %>
  <%= alert %><br />
<% end %>

<%= link_to image_tag("add-wine.svg", :alt =>  "add-icon", :height => 30, :class => "img-responsive"), new_task_path %>

<div>
    <% if @tasks.count >= 1 %>
      <ul>
        <%= render partial: 'tasks/tasks', locals: {tasks: @tasks} %>
      </ul>
    <% else %>
      <br />Click <i class="icon-plus-squared-alt demo-icon"></i> above to add a task.
      <ul>
        <li class='upcoming-item task-title'>Reminders will appear here.</li>
        <span class="wine"><em>next due date</em></span>
      </ul>
    <% end %>
</div>