<h1>Upcoming...</h1>

<% if alert.present? %>
  <%= alert %><br />
<% end %>

<%= link_to '<i class="the-icons icon-plus-squared-alt"></i>'.html_safe, new_task_path %>

<div>
    <% if @tasks.count >= 1 %>
      <ul>
          <% @tasks.each do |task| %>
              <%= link_to "<li class='upcoming-item task-title'>#{task.title.capitalize}</li>".html_safe, task_path(task.id) %>
              <span class="wine"><em>next due:</em> <%= task.next_due_date.strftime("%B %d, %Y") %></span>

          <% end %>
      </ul>
    <% else %>
      <br />Click <i class="icon-plus-squared-alt demo-icon"></i> above to add a task.
      <ul>
        <li class='upcoming-item task-title'>Reminders will appear here.</li>
        <span class="wine"><em>next due date</em></span>
      </ul>
    <% end %>
</div>