.the-icons {
  font-size: 24px;
  line-height: 32px;
}
.right {
  float: right;
}
.large-icon {
  font-size: 32px;
  line-height: 32px;
}

.nav-icon {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 32px;
  line-height: 32px;
  width: 44px;
  background-color: rgba(98, 101, 103, .2);
}

