/* Coolors Exported Palette - coolors.co/3f0d12-a71d31-f1f0cc-d5bf86-8d775f and https://www.w3schools.com/colors/colors_picker.asp?colorhex=d6cdb6 */

/* HSL */
/*$wine: hsla(354%, 66%, 15%, 1);
$red: hsla(351%, 70%, 38%, 1);
$pale: hsla(58%, 57%, 87%, 1);
$sand: hsla(43%, 48%, 68%, 1);
$mud: hsla(31%, 19%, 46%, 1);*/

/* RGB */
$wine: rgba(63, 13, 18, 1);
$red: rgba(167, 29, 49, 1);
$pale: rgba(241, 240, 204, 1);
$pale_trans: rgba(241, 240, 204, .5);
$sand: rgba(227, 221, 206, 1);
$sand_trans: rgba(227, 221, 206, .9);

$mud: rgba(161, 143, 124, 1);
$mud_trans: rgba(161, 143, 124, .5);

$content-width: 400px;
/*$breakpoint: 799px;*/
$nav-height: 70px;
$nav-background: $mud_trans;
$nav-font-color: $wine;
$link-hover-color: $red;

body {
  font-family: Futura;
  color: $pale;
  font-size: 1em;
}

#container {
  background-color: $mud;
  border-style: outset;
  padding: 3% 3% 20% 3%;
  margin: auto;
  min-height: 100vh;

}

#flash {
  text-align: center;
  background: $pale_trans;
  border-radius: 5%;
  color: $red;
}

nav {
  float: right;
    z-index: 99;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 2.5em;
    li {
      /*position: relative;*/
      a {
        min-width: 50%;
        float: left;
        display: block;
        padding: 0 2.5em;
        line-height: 2.5em;
        background: $sand_trans;
        color: $wine;
        text-decoration: none;
      } //dropdown
      ul li {
        a {
        }
      }
    }
  }
}

.img-responsive {
    background-color: $mud;
     /*background-image: url("add-wine.svg");*/
}
.img-responsive:active{
    /*height: 30;*/
    /*background-image: url("add-red.svg");*/
    background-color: $red;
}

select {
  color: $wine;
  font-size: 1em;
}

.responsive {
  width: 100%;
  height: auto;
}

header {
  text-align: center;
}

.margin-top {
  margin-top: 5%;
}

.toggle-list {
  display: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}


a:link {
  color: $wine;
}

.btn:link {
  text-decoration: none;
  color: $sand;
}

a:visited {
  text-decoration: none;
  color: $wine;
}

a:hover {
  text-decoration: none;
}

.btn:hover {
  background: $red;
}

a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.standard-list {
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

/*Dashboard*/
li.upcoming-item {
  background: $pale_trans;
  border-radius: 3%;
  padding: 1%;
  padding-left: 4%;
  margin: 20px -10px 0px -10px;
  /*margin-top: 4%;*/
  /*margin-right: -10px;*/
  /*margin-left: -10px;*/
}

.task-title {
  color: $wine;
  font-size: 1.6em;
}

/*Forms*/
.form-header {
  background: $mud;
}
form {
  background: $sand;
  padding: 3%;
  color: $wine;
  font-size: 1.2em;
}

label {
  display: block;
  width: 80%;
  float: left;
}

/*label:after { content: ": " }*/

input {
  border: 2px solid $mud;
  width: 90%;
  background: #fff;
  padding: 3px;
  height: 1.5em;
  font-size: 1em;
  color: $wine;
}

input[type=submit] {
  margin: 4% auto;
  /*width: 90px;*/
  height: 38px;
  font-size: 1.1em;
  background: $wine;
  color: $sand;
  border-radius: 10%;
  border: 2px solid $pale;
}

form.button_to {
  background: $mud;
  padding: 0;
}

button {
  padding: 0;
  margin: auto;
}

input[type=submit].mark-done {
  border: 2px solid $pale;
  height: 4em;
  width: 4em;
  font-size: .9em;
  border-radius: 50%;
  margin-top: -10px;
  margin-right: 0;
  margin-left: 0;
  padding: 5%;
  float: none;
}

textarea {
  width: 80%;
  border: 2px solid $mud;
  background: #fff;
  padding: 3px;
  font-size: 1em;
  height: 4em;
}

.new-detail {
  width: 90%;
}

.align-section {
  vertical-align: top;
  line-height: 30px;
  height: 50px;
}

.bottom-section {
  margin-top: 30%;
  line-height: 30px;
}

.done-section {
  background: $mud;
  float: right;
  margin-right: 10%;

}

.less-bottom-padding {
  margin-bottom: 1%;
}

.indent {
  margin-left: 10%;
}

.outline {
  padding: 2%;
  margin: 4% auto;
  width: 70px;
  height: 38px;
  font-size: 1.1em;
  border-radius: 10%;
  border: 2px solid $sand;
}

.wine {
  color: $wine;
}

.red {
  color: $red;
}

.alert {
  text-align: center;
  width: 90%;
  font-size: 1.3em;
}

.right-space {
  margin-right: 1%;
}

/*Question*/
.question-section {
  margin-top: 10%;
  padding: 3%;
}

.font1_5 {
  font-size: 1.5em;
}

.font_8 {
  font-size: .8em;
}

.italic {
  font-style: italic;
}

.btn {
  margin-top: 6%;
  margin-bottom: 6%;
  width: 36%;
  height: 38px;
  padding: 2% 4%;
  font-size: .9em;
  background: $wine;
  border-radius: 10%;
  border: 2px solid $sand;
  text-align: center;
  color: $sand;
  position: relative;
}

.btn:hover {
  background-color: $red;
}

.center {
  margin: auto;
  text-align: center;
}

.width50 {
  width: 80%;
  margin-top: 5%;
}

.btn-pale {
  top: 50%;
  color: $sand;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input[type=submit].small-font {
  font-size: .6em;
}


@media (min-width: 600px) {
  body {
    width: 30%;
    margin: auto;
  }

  .container {
    width: 30%;
    min-height: 100vh;
  }
}