body {
  font-family: Futura;
  color: DarkSlateGray;
}

#container {
  background-color: cornsilk;
  /*border-width: 3;*/
  border-style: outset;
  padding: 3%;
  margin: auto;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}