<h1>Add todo for <%= @task.title %> </h1>

<% if @detail_type == "supply" %>
  <%= render 'supply_details/form' %>
<% elsif @detail_type == "contact" %>
  <%= render 'contact_details/form' %>
<% end %>