<h1>To do: </h1>

<% if @detail.todo_type == "SupplyDetail" %>
  <%= render 'supply_details/show' %>
<% elsif @detail.todo_type == "ContactDetail" %>
  <%= render 'contact_details/show' %>
<% end %>


 <%= button_to("[due?]", {:controller => "details", :action => "check_date", :detail_id => @detail.id, :task_id=> @task.id}, class: "width200 small-font", :method=>:get) %>
